<footer class="footer">
  <div class="d-sm-flex justify-content-center justify-content-sm-between">
    <span class="text-muted text-center text-sm-left d-block d-sm-inline-block">
      Copyright © 2023
      <a href="https://ngsystem.net" target="_blank">
        <span class="c-app-1">NGSYSTEM </span>
        <span class="c-app-2">SARL</span>
      </a>. All rights reserved
    </span>
    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center">
      <span class="c-app-1">NGSYSTEM </span>
      <span class="c-app-2">SARL</span>
      <i class="mdi mdi-heart c-app-1"></i>
    </span>
  </div>
</footer>