<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px',fullScreenBackdrop:true }"></ngx-loading>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <div class="card">
            <div class="card-toolbar shadow-reset">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <span class="header-text-position"><i class="mdi mdi-account-switch mr-1"></i>Profil</span>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4"></div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <ul class="breadcome-menu">
                            <li class="teal">
                                <a [routerLink]="['/admin/administration']">Administration</a>
                                <span class="bread-slash">/</span>
                            </li>
                            <li><span class="bread-blod">Profils</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="currentPage === 'list'">
        <div class="card">
            <div class="card-body shadow-reset">
                <div class="card-header">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <mat-form-field class="full-width">
                                <mat-label>Recherche par</mat-label>
                                <mat-select name="criteria" [(ngModel)]="searchParam.criteria">
                                    <mat-option value="1">Tous</mat-option>
                                    <mat-option value="2">Nom</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2" *ngIf="searchParam.criteria=='2'">
                            <mat-form-field class="full-width">
                                <input matInput name="searchTerm" [(ngModel)]="searchParam.query" placeholder="Entrez le nom ici ..." />
                                <i matSuffix class="icon-search"></i>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="toolbar-buttons">
                                <button title="Actualiser" type="button" *ngIf="roleManager.isDroitChercherProfile()" (click)="search()" class="btn btn-light bg-btn-refresh btn-icon mr-1">
                                    <i class="mdi mdi-cached text-muted c-white"></i>
                                </button>
                                <button title="Ajouter nouveau" type="button" *ngIf="roleManager.isDroitAjouterProfile()" (click)="showAddForm()" class="btn btn-light bg-btn-add btn-icon">
                                    <i class="mdi mdi-plus text-muted c-white"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <table mat-table [dataSource]="dataSource" matSort class="table-hover">
                            <ng-container matColumnDef="nom">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>NOM</th>
                                <td mat-cell *matCellDef="let row"> {{row?.nom}}</td>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DESCRIPTION</th>
                                <td mat-cell *matCellDef="let row"> {{row?.description}}</td>
                            </ng-container>
                            <ng-container matColumnDef="etat">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ETAT</th>
                                <td mat-cell *matCellDef="let row" [style]="{'color': (row.etat)?'#008000' : '#ff0000'}">
                                    {{row?.etat ? "Actif":"Inactif"}}
                                </td>
                            </ng-container>
                            <ng-container matColumnDef="options">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>Option</th>
                                <td mat-cell *matCellDef="let row">
                                    <a title="Modifier" *ngIf="roleManager.isDroitModifierProfile()" style="font-size: 20px;cursor: pointer;" class="mr-2">
                                        <i class="mdi mdi-pen c-app-1" (click)="showEditForm(row)" title="Modifier le profil"></i>
                                    </a>
                                    <a title="Activer" *ngIf="!row?.etat && roleManager.isDroitActiverProfile()">
                                        <i style="color:#007b1d;font-size: 20px;cursor: pointer;" class="mdi mdi-toggle-switch-off" (click)="showConfirmDialog(row, 'activate')" title="Activer le profil"></i>
                                    </a>
                                    <a title="Desactiver" *ngIf="row?.etat && roleManager.isDroitDesactiverProfile()">
                                        <i style="color:#d80000;font-size: 20px;cursor: pointer;" class="mdi mdi-toggle-switch" (click)="showConfirmDialog(row, 'desactivate')" title="Désactiver le profil"></i>
                                    </a>
                                </td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <div *ngIf="profiles?.length===0" class="div-empty-list">
                            <br />
                            <div>
                                <img class="img-empty-list" src="assets/images/no_empty.png" alt="">
                                <h4 class="mt-2 c-app-1">Aucun resultat trouvé </h4>
                            </div>
                        </div>
                        <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- add or Edit -->
<div class="content-body" *ngIf="currentPage === 'add' || currentPage === 'edit'">
    <div class="card">
        <div class="card-body shadow-reset">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
                    <h2 align="center" style="font-size: 18px;"> {{pageTitle}} </h2>
                </div>
                <div class="col-sm-2 col-md-2 col-lg-2"></div>
                <div class="col-sm-8 col-md-8 col-lg-8">
                    <form #elementAddForm="ngForm" name="form">
                        <div class="col-lg-12 col-sm-12 col-md-12" style="margin-bottom: 10px;">
                            <mat-form-field style="width: 100%">
                                <mat-label>NOM</mat-label>
                                <input matInput name="nom" [(ngModel)]="profile.nom" placeholder="Nom" required />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-md-12" style="margin-bottom: 10px;">
                            <mat-form-field style="width: 100%">
                                <mat-label>DESACRIPTION</mat-label>
                                <textarea matInput name="description" [(ngModel)]="profile.description" placeholder="Description"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-12 col-sm-12 col-md-12 mat-elevation-z2">
                            <div align="center">
                                <p>Choix des droits</p>
                                <mat-form-field style="width: 50%;">
                                    <input matInput name="name" [(ngModel)]="droitFilter.nom" placeholder="Recherche ..." />
                                </mat-form-field>
                            </div>
                            <mat-divider></mat-divider>
                            <div class="col-lg-12 col-sm-12 col-md-12" style="height: 400px; height: 350px; overflow-y: scroll;">
                                <br />
                                <div style="margin-left: 20px;">
                                    <mat-checkbox [(ngModel)]="isSelectedRole" name="list_roles" (change)="checkedAllRole()"> Selectionnez tous </mat-checkbox>
                                </div>
                                <br />
                                <div *ngFor="let droit of droits | filterBy: droitFilter" style="margin-left: 20px; ">
                                    <mat-checkbox [(ngModel)]="droit.checked" [name]="'droit-'+droit.id">
                                        {{droit.description}}
                                    </mat-checkbox>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-12 col-lg-12" style="margin-top: 20px; margin-bottom: 30px;">
                            <div align="right">
                                <button (click)="showList()" class="btn btn-close btn-sm btn-rounded mr-1">
                                    <i class="mdi mdi-close"></i> Fermer
                                </button>
                                <button (click)="(profile.id)? update() : save()" cdkFocusInitial [disabled]="!elementAddForm.form.valid" class="btn btn-light btn-sm btn-rounded">
                                    <i class="mdi mdi-content-save"></i> Enregistrer
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div *ngIf="currentPage === 'list'" class="modal fade text-xs-left" id="profilConfirmModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true">
    <div class="modal-sm modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button style="display: none;" type="button" #openConfirmDialog class="btn btn-outline-primary block btn-lg" data-toggle="modal" data-target="#profilConfirmModal" data-backdrop="true">
                </button>
                <h4 class="modal-title" id="myModalLabel2">
                    {{(dialogAction === 'activate') ? ' Activation' : ' Désactivation'}} du profil
                </h4>
            </div>
            <div class="modal-body">
                <div style="font-weight: bold; font-size: 13px;text-align: center;">
                    <span class="text-bold-600" style="color: #d80000;">
                        Êtes-vous sûr de vouloir vraiment
                        {{(dialogAction ==='activate')? 'activer' : 'désactiver'}}
                    </span><br/>
                    <span style="color: #270067;">{{profile?.nom}} ?</span>
                </div>
            </div>
            <div class="modal-footer" style="text-align: center;">
                <button class="btn btn-close btn-sm btn-rounded" data-dismiss="modal">
                    <i class="mdi mdi-close"></i> Non
                </button>
                <button class="btn btn-light btn-sm btn-rounded" (click)="activateOrDesactivate()">
                    <i class="mdi mdi-check"></i> Oui
                </button>
            </div>
        </div>
    </div>
</div>