<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px',fullScreenBackdrop:true }"></ngx-loading>
<div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
        <div class="card">
            <div class="card-toolbar shadow-reset">
                <div class="row">
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <span class="header-text-position"><i class="mdi mdi-alarm-multiple mr-1"></i>Logs</span>
                    </div>
                    <div class="col-sm-4 col-md-4 col-lg-4"></div>
                    <div class="col-sm-4 col-md-4 col-lg-4">
                        <ul class="breadcome-menu">
                            <li class="teal">
                                <a [routerLink]="['/admin/administration']">Administration</a>
                                <span class="bread-slash">/</span>
                            </li>
                            <li><span class="bread-blod">Logs</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-sm-12 col-md-12 col-lg-12">
        <div class="card">
            <div class="card-body shadow-reset">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <mat-form-field class="full-width">
                                <input matInput [matDatepicker]="dateDebut" [(ngModel)]="searchParam.dateDebut" name="dateDebut" placeholder="Date début" readonly />
                                <mat-datepicker-toggle matSuffix [for]="dateDebut"></mat-datepicker-toggle>
                                <mat-datepicker #dateDebut></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <mat-form-field class="full-width">
                                <input matInput [matDatepicker]="dateFin" [(ngModel)]="searchParam.dateFin" name="dateFin" placeholder="Date fin" readonly />
                                <mat-datepicker-toggle matSuffix [for]="dateFin"></mat-datepicker-toggle>
                                <mat-datepicker #dateFin></mat-datepicker>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <mat-form-field class="full-width">
                                <mat-label>Recherche par</mat-label>
                                <mat-select name="criteria" [(ngModel)]="searchParam.criteria" (selectionChange)="onChangeCritere()">
                                    <mat-option value="1">Tous</mat-option>
                                    <mat-option value="2">Action</mat-option>
                                    <mat-option value="3">Utilisateur</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2" *ngIf="searchParam.criteria === '2'">
                            <mat-form-field class="full-width">
                                <input matInput name="searchTerm" [(ngModel)]="searchParam.query" placeholder="Entrer action ici ..." />
                            </mat-form-field>
                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2" *ngIf="searchParam.criteria === '3'">
                            <mat-form-field class="full-width">
                                <mat-label>Utilisateur</mat-label>
                                <mat-select name="utilisateur" [(ngModel)]="searchParam.id" required>
                                    <div class=select-search-input>
                                        <input matInput type="text" name="utilisateurFilter" focused="'true'" [(ngModel)]="utilisateurFilter.nomComplet" type="text" autocomplete="off" placeholder="Search ...">
                                        <span class="span-icon-filter">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </div>
                                    <mat-divider></mat-divider>
                                    <mat-option [value]="">Deselectionnez
                                        <button class="btn btn-deselect btn-sm button-deselect">X</button>
                                    </mat-option>
                                    <mat-option *ngFor="let utilisateur of utilisateurs | filterBy: utilisateurFilter" [value]="utilisateur.id">
                                        {{utilisateur.nomComplet}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2 col-md-2 col-lg-2">
                            <div class="toolbar-buttons">
                                <button title="Actualiser" type="button" *ngIf="roleManager.isDroitChercherLog()" (click)="search()" class="btn btn-light bg-btn-refresh btn-icon mr-3">
                                    <i class="mdi mdi-cached text-muted c-white"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-12">
                        <table mat-table matTableExporter [dataSource]="dataSource" #exporter matSort class="table-hover">
                            <ng-container matColumnDef="agent">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>UTILISATEUR</th>
                                <td mat-cell *matCellDef="let row"> {{row.utilisateur?.nomComplet}}</td>
                            </ng-container>
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> ACTIONS</th>
                                <td mat-cell *matCellDef="let row"> {{row.actions}}</td>
                            </ng-container>
                            <ng-container matColumnDef="description">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header>DESCRIPTION</th>
                                <td mat-cell *matCellDef="let row"> {{row.description}}</td>
                            </ng-container>
                            <ng-container matColumnDef="dateLog">
                                <th mat-header-cell *matHeaderCellDef mat-sort-header> DATE</th>
                                <td mat-cell *matCellDef="let row"> {{row.dateAction | date: 'dd/MM/yyyy HH:mm:ss'}}</td>
                            </ng-container>
                            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                        </table>
                        <br />
                        <div *ngIf="logs?.length===0" class="div-empty-list">
                            <div>
                                <img class="img-empty-list" src="assets/images/no_empty.png" alt="">
                                <h4 class="mt-2 c-app-1">Aucun resultat trouvé </h4>
                            </div>
                        </div>
                        <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50, 100]"></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>