<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px',fullScreenBackdrop:true }"></ngx-loading>
<h2 mat-dialog-title>{{maintenance.id? 'Modification du': 'Nouveau'}} Maintenances</h2>
<div mat-dialog-content>
    <form #elementForm="ngForm" name="form">
        <br/>
        <div class="row">
            <div class="col-md-12 col-lg-12">
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="date_debut" [(ngModel)]="maintenance.date_debut" name="date_fin" placeholder="Date debut" readonly />
                        <mat-datepicker-toggle matSuffix [for]="date_debut">
                        </mat-datepicker-toggle>
                        <mat-datepicker #date_debut></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="date_fin" [(ngModel)]="maintenance.date_fin" name="date_fin" placeholder="Date de fin" readonly />
                        <mat-datepicker-toggle matSuffix [for]="date_fin">
                        </mat-datepicker-toggle>
                        <mat-datepicker #date_fin></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field class="full-width">
                        <mat-label>Select Etat</mat-label>
                        <mat-select name="selectEtat" [(ngModel)]="maintenance.etat">
                            <mat-option value="EN_ATTENTE">En attente</mat-option>
                            <mat-option value="VALIDER">Valider</mat-option>
                            <mat-option value="ANNULER">Annuler</mat-option>
                        </mat-select>
                    </mat-form-field>
            </div>
          
        </div>
    </form>
</div>

<div mat-dialog-actions align="center">
    <button mat-dialog-close class="btn btn-close btn-sm btn-rounded mr-1" (click)="onNoClick()">
        <i class="mdi mdi-close"></i> Fermer
    </button>
    <button [disabled]="!elementForm.form.valid" class="btn btn-light btn-sm btn-rounded" (click)="save()">
        <i class="mdi mdi-content-save"></i> Enregistrer
    </button>
</div>