<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '5px',fullScreenBackdrop:true }"></ngx-loading>
<br/>
<div class="row">
  <div class="col-sm-12 col-md-12 col-lg-12 mb-1">
      <div class="card">
          <div class="card-toolbar shadow-reset">
              <div class="row">
                  <div class="col-sm-4 col-md-4 col-lg-4">
                      <span class="header-text-position"><i class="mdi mdi-circle-outline mr-1"></i>Materielles</span>
                  </div>
                  <div class="col-sm-4 col-md-4 col-lg-4"></div>
                  <div class="col-sm-4 col-md-4 col-lg-4">
                      <ul class="breadcome-menu">
                          <li class="teal">
                              <a [routerLink]="['/dashboard']">Accueil</a>
                              <span class="bread-slash">/</span>
                          </li>
                          <li><span class="bread-blod">{{pageTitle}}</span></li>
                      </ul>
                  </div>
              </div>
          </div>
      </div>
  </div>

  <div class="col-sm-12 col-md-12 col-lg-12" *ngIf="currentPage === 'list'">
      <div class="card">
          <div class="card-body shadow-reset">
              <div class="card-header toolbar-white">
                <div class="row">
                  <div class="col-sm-2 col-md-2 col-lg-2">
                      <mat-form-field class="full-width">
                          <input matInput [matDatepicker]="dateDebut" [(ngModel)]="searchParam.dateDebut" name="dateDebut" placeholder="Date début" readonly />
                          <mat-datepicker-toggle matSuffix [for]="dateDebut"></mat-datepicker-toggle>
                          <mat-datepicker #dateDebut></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <div class="col-sm-2 col-md-2 col-lg-2">
                      <mat-form-field class="full-width">
                          <input matInput [matDatepicker]="dateFin" [(ngModel)]="searchParam.dateFin" name="dateFin" placeholder="Date fin" readonly />
                          <mat-datepicker-toggle matSuffix [for]="dateFin"></mat-datepicker-toggle>
                          <mat-datepicker #dateFin></mat-datepicker>
                      </mat-form-field>
                  </div>
                  <div class="col-sm-2 col-md-2 col-lg-2" *ngIf="materiels?.length >0">
                    <mat-form-field class="full-width">
                        <input matInput type="text" (keyup)="applyFilter($event.target.value)" placeholder="Filtrer ...">
                    </mat-form-field>
                </div>
                
                  <div class="col-sm-2 col-md-2 col-lg-2">
                      <div class="toolbar-buttons">
                          <button title="Actualiser" type="button" (click)="search()" class="btn btn-light bg-btn-refresh btn-icon mr-1">
                              <i class="mdi mdi-cached text-muted c-white"></i>
                          </button>
                          <button title="Ajouter nouveau" type="button" (click)="showAddDialog()" class="btn btn-light bg-btn-add btn-icon mr-1">
                              <i class="mdi mdi-plus text-muted c-white"></i>
                          </button>
                    
                          <button title="Exporter des materiels" type="button" (click)="exportToExcel()"  class="btn btn-light bg-pdf btn-icon">
                              <i class="fa fa-file-excel-o"></i>
                          </button>
                      </div>
                  </div>
              </div>
              </div>
              <div class="row">
                  <div class="col-sm-12 col-md-12 col-lg-12">
                      <table mat-table [dataSource]="dataSource" class="table-hover" matSort>
                          <!-- Name Column -->
                <ng-container matColumnDef="nom">
                  <th mat-header-cell *matHeaderCellDef>Nom</th>
                  <td mat-cell *matCellDef="let row">{{row.nom}}</td>
                </ng-container>
                <!-- Weight Column -->
                <ng-container matColumnDef="modele">
                  <th mat-header-cell *matHeaderCellDef>Modele</th>
                  <td mat-cell *matCellDef="let row">{{row.modele}}</td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="marque">
                  <th mat-header-cell *matHeaderCellDef>Marque</th>
                  <td mat-cell *matCellDef="let row">{{row.marque}}</td>
                </ng-container>

                <ng-container matColumnDef="dateacqui">
                  <th mat-header-cell *matHeaderCellDef>Date acquisition</th>
                  <td mat-cell *matCellDef="let row">{{row.date_acquisition | date: 'dd/MM/yyyy'}}</td>
                </ng-container>

                <ng-container matColumnDef="adressemac">
                  <th mat-header-cell *matHeaderCellDef>Adresse  Mac</th>
                  <td mat-cell *matCellDef="let row">{{row.adresse_mac}}</td>
                </ng-container>

                <ng-container matColumnDef="caracteristique">
                  <th mat-header-cell *matHeaderCellDef>Caractéristique</th>
                  <td mat-cell *matCellDef="let row">{{row.caracteristique}}</td>
                </ng-container>
                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef> STATUS </th>
                    <td mat-cell *matCellDef="let row" [ngStyle]="{'color': (row.enabled)? '#007b10' : '#d80000'}">
                        {{row.enabled? 'Actif' : 'Inactif'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="option">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>Option</th>
                    <td mat-cell *matCellDef="let row">
                        <a title="Affectattion une materielle" class="mr-2"><i
                            style="color:#0bc126;cursor: pointer; font-size: 20px;" class="mdi mdi-plus"
                            (click)="showAddAffectationDialog(row)"></i>
                        </a>
                        <a title="Voir les details" class="mr-2"><i
                                style="color:#0f0f10;cursor: pointer; font-size: 20px;" class="mdi mdi-eye"
                                (click)="showDetail(row)"></i>
                        </a>
                        <a title="Modifier" style="font-size: 20px;cursor: pointer;" class="mr-2">
                            <i class="mdi mdi-pen c-app-1" (click)="showEditDialog(row)" title="Modifier le Materiel"></i>
                        </a>
                        <a title="Activer" *ngIf="!row?.enabled">
                            <i style="color:#007b1d;font-size: 20px;cursor: pointer;" class="mdi mdi-toggle-switch-off" (click)="showConfirmDialog(row, 'activate')" title="Activer le Materiel"></i>
                        </a>
                        <a title="Desactiver" *ngIf="row?.enabled">
                            <i style="color:#d80000;font-size: 20px;cursor: pointer;" class="mdi mdi-toggle-switch" (click)="showConfirmDialog(row, 'desactivate')" title="Désactiver le Materiel"></i>
                        </a>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <br />
            <div *ngIf="materiels?.length===0" class="div-empty-list">
                <div>
                    <img class="img-empty-list" src="assets/images/no_empty.png" alt="">
                    <h4 class="mt-2 c-app-no_empty">Aucun resultat trouvé </h4>
                </div>
            </div>
            <mat-paginator [pageSize]="25" [pageSizeOptions]="[25,50, 100]"></mat-paginator>
        </div>
            </div>
          </div>
      </div>
    </div>
</div>


<!-- add or Edit -->
<div class="content-body" *ngIf="currentPage === 'add' || currentPage === 'edit'">
    <div class="card">
        <div class="card-body shadow-reset">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" style="margin-top: 10px;">
                    <h2 align="center" style="font-size: 18px;"> {{pageTitle}} </h2>
                    <mat-divider></mat-divider>
                </div>
                <div class="col-sm-3 col-md-3 col-lg-3"></div>
                <div class="col-sm-6 col-md-6 col-lg-6" style="background: #f3f3f3">
                    <br />
                    <form #elementForm="ngForm" name="form">
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12">
                               <mat-card>
                                <div class="row">
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <mat-form-field class="full-width">
                                            <mat-label>Type Materielle</mat-label>
                                            <mat-select name="typeMateriel" [(ngModel)]="materiel.typeMateriel" required>
                                                <div class=select-search-input>
                                                    <input matInput type="text" name="typeMaterielFilter" focused="'true'" [(ngModel)]="typeMaterielFilter.libelle" type="text" autocomplete="off" placeholder="Search ...">
                                                    <span class="span-icon-filter">
                                                        <i class="fa fa-search"></i>
                                                    </span>
                                                </div>
                                                <mat-divider></mat-divider>
                                                <mat-option [value]="">Deselectionnez
                                                    <button class="btn btn-deselect btn-sm button-deselect">X</button>
                                                </mat-option>
                                                <mat-option *ngFor="let typeMateriel of typeMateriels | filterBy: typeMaterielFilter" [value]="typeMateriel">
                                                    {{typeMateriel?.libelle}}
                                                </mat-option>
                                            </mat-select>
                                        </mat-form-field>
                                    </div>
                                    
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <mat-form-field class="full-width">
                                            <input matInput name="libelle" type="text" placeholder="Libelle" [(ngModel)]="materiel.nom" required />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <section class="full-width">
                                            <label class="full-width">Etat: </label>
                                            <mat-radio-group [(ngModel)]="materiel.etat" name="etat">
                                              <mat-radio-button value="BON">Bon</mat-radio-button>
                                              <mat-radio-button value="PAS_BON">Pas bon</mat-radio-button>
                                            </mat-radio-group>
                                          </section>
                                       
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <mat-form-field class="full-width">
                                            <input matInput name="modele" type="text" placeholder="Modele" [(ngModel)]="materiel.modele" required />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <mat-form-field class="full-width">
                                            <input matInput name="marque" type="text" placeholder="Marque" [(ngModel)]="materiel.marque" required/>
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xs-6 col-sm-6 col-md-6">
                                        <mat-form-field class="full-width">
                                            <input matInput name="adresse_mac" type="text" placeholder="Adresse Mac" [(ngModel)]="materiel.adresse_mac" />
                                        </mat-form-field>
                                    </div>
                                    <div class="col-xs-12 col-sm-12 col-md-12">
                                        <mat-form-field class="full-width">
                                            <input matInput [matDatepicker]="date_acquisition" [(ngModel)]="materiel.date_acquisition" name="date_acquisition" placeholder="Date d'acquisition" readonly />
                                            <mat-datepicker-toggle matSuffix [for]="date_acquisition">
                                            </mat-datepicker-toggle>
                                            <mat-datepicker #date_acquisition></mat-datepicker>
                                        </mat-form-field>
                                    </div>
                                </div>
                               </mat-card>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                <mat-card>
                                    <div class="row">
                                        <mat-form-field class="full-width">
                                            <mat-label>Caractéristique</mat-label>
                                            <textarea matInput name="caracteristique" type="text" placeholder="Caractéristique" [(ngModel)]="materiel.caracteristique" rows="2" required></textarea>
                                        </mat-form-field>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                        <br/>
                        <div class="row">
                            <div class="col-xs-12 col-md-12 col-lg-12">
                                <mat-divider></mat-divider>
                                <div align="center" style="margin: 10px 0;">
                                    <button (click)="showList()" class="btn btn-close btn-sm btn-rounded"><i
                                            class="mdi mdi-close"></i>
                                        Fermer
                                    </button>&nbsp;&nbsp;
                                    <button [disabled]="!elementForm.form.valid" (click)="save()" cdkFocusInitial class="btn btn-light btn-sm btn-rounded"><i
                                            class="mdi mdi-content-save"></i>
                                        Enregistrer
                                    </button>
                                </div>
                            </div>
                       </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12 col-md-12 col-lg-12" *ngIf="currentPage === 'detail'">
    <div class="card">
        <div class="card-body shadow-reset">
            <br>
            <div class="row">
                <div class="col-xs-12 col-sm-1 col-md-1"></div>
                <div class="col-xs-12 col-sm-10 col-md-10">

                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <mat-card>
                                <table class="table">
                                    <thead>
                                        <th class="th ta-center" colspan="7">
                                           <h3 style="font-weight: bold;font-style: italic;font-family: 'Times New Roman', Times, serif;">
                                                <span class="c-app-1">Prévisualization de la liste des </span> 
                                                <span class="c-app-3">Affectation par Materielle</span>
                                           </h3>
                                        </th>
                                    </thead>

                                    <th> Type</th>
                                    <th> Frais</th>
                                    <th> Date début</th>
                                    <th> Date Fin</th>
                                    <th> Actions</th>
                                    <tr>
                                      <td> Frais</td>
                                      <td>Frais1 </td>
                                      <td>Frais2 </td>
                                      <td>Frais3</td>
                                      <td> action</td>
                                    </tr> 
                                    <tr>
                                        <th></th>
                                    </tr>
                                </table>
                                
                            </mat-card>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12 col-lg-12" style="text-align: center;">
                    <mat-divider style="margin-bottom: 5px;"></mat-divider>
                    <button (click)="showList()" class="btn btn-close btn-sm btn-rounded">
                        <i class="mdi mdi-close"></i> Fermer
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

